<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.multi-select.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.multi-select.css" />

</head>
<body style="background-image:url(/Content/Images/background.jpg);background-size: cover;">
   
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@

    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer>
        <!--<hr />-->
        <center>
            300 Campus Drive, Parkersburg, WV 26104-8647 | Voice: 304-424.8000 | Fax: 304-424.8315 | Toll-Free: 1-800-WVA-WVUP (WV/OH)<br>
            Accredited by The Higher Learning Commission and a member of the North Central Association of Colleges and Schools.<br>
            A member institution of the Community and Technical College System of West Virginia<br>
            WVU Parkersburg is an affiliated institution of West Virginia University | An Equal Opportunity/Affirmative Action institution
        </center>
        <!--<hr />-->
    </footer>
</body>
</html>
