@model IEnumerable<TutoringCenter.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
            <div style="font-weight:100">
                Checked = Disabled
                <br />
                Unchecked = Enabled
            </div>
        </th>
        
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.S_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.S_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.S_ID })
        </td>
    </tr>
}

</table>
