@model TutoringCenter.Models.Login

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>
<body style="background-image:url(https://rrcsignin.wvup.edu/images/66346.jpg);background-size: cover;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <style>
                .Submit_Button {
                    background: rgb(28, 184, 65);
                    color: white;
                    border-radius: 20px;
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    font-size: 14pt;
                }
                .Submit_Button:hover {
                    background-color: #808080;
                    color: white;
                }
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            </style>

            <h4>Login @ViewBag.data</h4>

            <hr/>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" style="display:none">
                //this is hidden
                @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.data } })
                    @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VisitReason, htmlAttributes: new { @class = "control-label col-md-2", size = 8 })
                <div class="col-md-10">
                    @*
                        @Html.EditorFor(model => model.VisitReason, new { htmlAttributes = new { @class = "form-control" } })
                    *@

                    @*Added by Brian*@

                    @Html.ListBoxFor(model => model.VisitReason, Model.VisitReasonList)

                    @*
                        @Html.DropDownListFor(model => model.VisitReason, new SelectList(new string[] { "Tutoring", "Printing", "Computer Use", "Study Space", "Math Make-up", "Textbook Use", "Box of Bones", "Kurzweil", "Calculator", "Microscope", "Brainfuse", "Other" }), htmlAttributes: new { @class = "form-control" })
                    *@

                    @Html.ValidationMessageFor(model => model.VisitReason, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    *@

                    @Html.ListBoxFor(model => model.Subject, Model.SubjectList)

                    @*
                        @Html.DropDownListFor(model => model.Subject, new SelectList(new string[] { "Math", "English", "Nursing", "Computer Science", "College 101", "Psychology", "History", "Accounting", "Sociology", "Business", "Criminal Justice", "English (Major)", "Legal Studies", "OTHER" }), htmlAttributes: new { @class = "form-control" })
                    *@
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none">

                @Html.LabelFor(model => model.CheckedIn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckedIn, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now } })
                    @Html.ValidationMessageFor(model => model.CheckedIn, "", new { @class = "text-danger" })
                </div>
            </div>

@*Beginning of attempted checkboxes*@		
<table style="width:15%">
    <tr>
        <th colspan="2">Reason for Visit<br />(check all that apply)</th>
    </tr>
    <tr>
        <td>Tutoring</td>
        <td>@Html.CheckBox("Tutoring", false)</td>        
    </tr>
    <tr>
        <td>Printing</td>
        <td>@Html.CheckBox("Printing", false)</td>        
    </tr>
    <tr>
        <td>Computer Use</td>
        <td>@Html.CheckBox("ComputerUse", false)</td>        
    </tr>
    <tr>
        <td>Study Space</td>
        <td>@Html.CheckBox("StudySpace", false)</td>        
    </tr>
    <tr>
        <td>Math Make-up</td>
        <td>@Html.CheckBox("MathMakeup", false)</td>        
    </tr>
    <tr>
        <td>Textbook</td>
        <td>@Html.CheckBox("Textbook", false)</td>        
    </tr>
    <tr>
        <td>Kurzweil</td>
        <td>@Html.CheckBox("Kurzweil", false)</td>        
    </tr>
    <tr>
        <td>Calculator</td>
        <td>@Html.CheckBox("Calculator", false)</td>        
    </tr>
    <tr>
        <td>Microscope</td>
        <td>@Html.CheckBox("Microscope", false)</td>        
    </tr>
    <tr>
        <td>Brainfuse</td>
        <td>@Html.CheckBox("Brainfuse", false)</td>        
    </tr>
    <tr>
        <td>OTHER</td>
        <td>@Html.CheckBox("OTHER1", false)</td>        
    </tr>
</table>
<br />
<table style="width:15%">
    <tr>
        <th colspan="2">Subject<br />(check all that apply)</th>
    </tr>
    <tr>
        <td>Math</td>
        <td>@Html.CheckBox("Math", false)</td>
    </tr>
    <tr>
        <td>English</td>
        <td>@Html.CheckBox("English", false)</td>
    </tr>
    <tr>
        <td>Nursing</td>
        <td>@Html.CheckBox("Nursing", false)</td>
    </tr>
    <tr>
        <td>Computer Science</td>
        <td>@Html.CheckBox("ComputerScience", false)</td>
    </tr>
    <tr>
        <td>College 101</td>
        <td>@Html.CheckBox("College 101", false)</td>
    </tr>
    <tr>
        <td>Psychology</td>
        <td>@Html.CheckBox("Psychology", false)</td>
    </tr>
    <tr>
        <td>History</td>
        <td>@Html.CheckBox("History", false)</td>
    </tr>
    <tr>
        <td>Accounting</td>
        <td>@Html.CheckBox("Accounting", false)</td>
    </tr>
    <tr>
        <td>Sociology</td>
        <td>@Html.CheckBox("Sociology", false)</td>
    </tr>
    <tr>
        <td>Business</td>
        <td>@Html.CheckBox("Business", false)</td>
    </tr>
    <tr>
        <td>Criminal Justice</td>
        <td>@Html.CheckBox("Criminal Justice", false)</td>
    </tr>
    <tr>
        <td>English (Major)</td>
        <td>@Html.CheckBox("EnglishMajor", false)</td>
    </tr>
    <tr>
        <td>Legal Studies</td>
        <td>@Html.CheckBox("LegalStudies", false)</td>
    </tr>
    <tr>
        <td>OTHER</td>
        <td>@Html.CheckBox("OTHER2", false)</td>
    </tr>
</table>
<br />
		@*End of attempted checkboxes*@
		
		
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="Submit_Button" />
                </div>
            </div>
        </div>
    }

    @*Not sure why this is here, commenting out. 
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    *@

</body>

<script src="~/Scripts/jquery.multi-select.js" type="text/javascript"></script>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
