@* Create Page HTML
    Where all data is inputted*@

@model TutoringCenter.Models.Login
@{
    ViewBag.Title = "Check In";
}

<script>
    $(document).ready(function () {

        $("#ReasonIDs").multiSelect();
        $("#SubjectIDs").multiSelect();
    })
</script>

<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <style>
                .Submit_Button {
                    background: rgb(28, 184, 65);
                    color: white;
                    border-radius: 20px;
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    font-size: 14pt;                    
                }

                    .Submit_Button:hover {
                        background-color: #808080;
                        color: white;
                    }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

              
            </style>
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div style="margin-left:auto;margin-right:auto;border-radius:20px;max-width:650px;border-color:white;background-color:white;
                padding-left:20px;padding-right:20px;padding-bottom:20px;padding-top:0;
                border:solid;border-width:2px;border-color:lightgray;box-shadow: 8px 8px 6px #888888 ;">

                <table width="100%">
                    <tbody>
                        <tr>
                            <td width="75%">
                                <span style="font-size:32pt;">Welcome to the </span><br><span style="font-size:18pt;">Riverhawk Resource &amp; Tutoring Center</span>
                            </td>
                            <td width="25%">
                                <img src="~/Content/Images/Ricky.jpg" style="width:150px">
                            </td>
                        </tr>
                    </tbody>
                </table>




                <div class="form-group" style="display:none">

                    @Html.LabelFor(model => model.RealStudentID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.RealStudentID, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.data } })
                       
                    </div>
                </div>

                <div class="form-group" style="display:none">

                    @Html.LabelFor(model => model.CheckedIn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CheckedIn, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now } })
                       
                    </div>
                </div>
                <center>
                    <span style="font-weight:600; font-size:16pt">What are you using the Center for? Please select all that apply</span>
                </center>
                <div class="form-group" style="padding-left:17%">

                    <div class="col-md-12" >
                        @Html.ListBoxFor(model => model.ReasonIDs, ViewBag.Reasons as MultiSelectList, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.data } })
                        @Html.ValidationMessageFor(model => model.ReasonIDs, "", new { @class = "text-danger" })
                    </div>
                </div>
                <center>
                    <span style="font-weight:600; font-size:16pt">Which subject are you using the Center for? </span>
                </center>
                <div class="form-group" style="padding-left:17%">
                    <div class="col-md-12">
                        @Html.ListBoxFor(model => model.SubjectIDs, ViewBag.Subjects as MultiSelectList, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.data } })
                        @Html.ValidationMessageFor(model => model.SubjectIDs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="text-align:center;">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Check In" class="Submit_Button" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    }

</body>

<script src="~/Scripts/jquery.multi-select.js" type="text/javascript"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
